<!DOCTYPE HTML>
<html ng-app = myApp>
	<head>
		<title>Aplicacion con Redis</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!-- Dependencias de la aplicacion -->
		<script src="../assets/js/jquery.min.js"></script>
		<script src="../assets/js/jquery.scrolly.min.js"></script>
		<script src="../assets/js/jquery.scrollzer.min.js"></script>
		<script src="../assets/js/skel.min.js"></script>
		<script src="../assets/js/skel-layers.min.js"></script>
		<script src="../assets/js/init.js"></script>
	
		<noscript>
			<link rel="stylesheet" href="../assets/css/skel.css" />
			<link rel="stylesheet" href="../assets/css/style.css" />
			<link rel="stylesheet" href="../assets/css/style-wide.css" />
			<link rel="stylesheet" href="../assets/css/style-show.css">
	    </noscript>
	</head>
	<body ng-controller="indexController">
		<!-- Descripcion de la aplicacion -->
		<div id="header" class="skel-layers-fixed">
			<div class="top">
					<!-- Puede ir la imagen del usuario -->
					<div id="logo">
						<h1 id="title">Desconocido</h1>
						<p>Descripcion</p>
					</div>
					<!-- Menu de la aplicacion -->
					<nav id="nav">
						<ul>
							<li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">opcion1</span></a></li>
							<li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">opcion2</span></a></li>
						</ul>
					</nav>		
			</div>
		</div>
		<!-- Secciones de la pagina-->
		<div id="main">
			<div class="container" STYLE="background-color:#1C1C1C" ALIGN=CENTER>
				<button ng-click= "mostrarRegistro()">Registrarse</button>
				<button ng-click= "mostrarSesion()">Iniciar Sesion</button>		
			</div>	
			<!-- Seccion de registro de usuario-->
			<section id="contact" class="four" ng-show="verRegistro">
				<div class="container" >
					<header>
					    <h2>Registrarse es gratuito</h2>
					</header>
					<div>
				  		<form ng-submit="registrarUsuario()">
					  		<input type="text" placeholder="Nombre"     ng-model="modNombre"></input>
					  		<br><br>
					  		<input type="text" placeholder="Apellido" ng-model="modApellido"></input>
					  		<br><br>
					  		<input type="text" placeholder="Usuario"      ng-model="modUsuario"></input>
					  		<br><br>
					  		<input type="text" placeholder="Contraseña"  ng-model="modPassword"></input>
					  		<br><br>
					  		<input type="text" placeholder=" Confirmar Contraseña" ng-model="modVerificarPassword"></input>
					  		<br><br>
				  			<button type="submit">Aceptar</button>
				  		</form>
				    </div>
				</div>
			</section>
			<!-- Seccion de inicio de sesion -->
			<section id="portfolio" class="two" ng-show="verSesion">
				<div class="container">
					<header>
						<h2>Desea iniciar sesion</h2>
					</header>
					<div>
				  		<form ng-submit="iniciarSesion()">
				  			<input type="text" placeholder="Usuario"     ng-model="modLoguinUser"></input>
				  			<br><br>
				  			<input type="text" placeholder="Contraseña"  ng-model="modLoguinPass"></input>
				  			<br><br>
				  			<button type="submit">Aceptar</button>
				  		</form>
				    </div>
				</div>
			</section>
            <!-- Opcion1 -->
			<section id="top" class="one dark cover">
				<div class="container">
                    <header>
						<h2 class="alt">Hola</h2>
						
					</header>
                </div>
			</section>
            <!-- opcion3 -->
			<section id="about" class="three">
				<div class="container">
				    <header>
						<h2>opcion2</h2>
					</header>
					<form ng-submit="getMensaje()">
				  		<h1>Digite el nombre del mae a buscar</h1>
				  		    <input type="text" placeholder="Buscar" ng-model="buscar"></input>
				  			<button >Listar Usuarios</button>
				  			<h1>Lista de Buscados: {{mensajes.length}}</h1>
					  		<ul>
						  		<li ng-repeat="mensaje in mensajes">{{mensaje.username}}</li>
					  		</ul>
				  		</form>

				</div>
			</section>
		</div>
		<!-- Footer -->
		<div id="footer">
		<!-- Copyright -->
			<ul class="copyright">
				<li>&copy; Redis. All rights reserved.</li>
			</ul>		
		</div>
		<!-- Dependencias de la aplicacion -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
	    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>   
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> 
	    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-animate.min.js"></script>
	    <script src="https://cdn.socket.io/socket.io-1.3.4.js"></script>
        <script type="text/javascript" src="/app.js"></script>
        <script type="text/javascript" src="../controladorescliente/controladores.js"></script>
	</body>
</html>
